@import "~src/styles/variables.scss";

.button_container {
  position: relative;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
}